<div class="js-animated-title flex justify-center pt-[100px] ">



    <div class=" bg-red-500 flex p-4 items-center justify-center border-2 border-dotted border-black aspect-square rounded-full w-[full] h-auto ">

        <h1 class=" text-[30px] indent-0  ">{{title}}</h1>
        {% comment %} <h2 class=" indet-0  text-[100px] " > {{count}} </h2> {% endcomment %}

    </div>
    <div class=" flex p-4 items-center justify-center border-2 border-dotted border-black aspect-square rounded-full w-[200px] w-base ">

    <h1 class=" indent-0 text-[30px] ">{{count}}</h1>
    {% comment %} <h2 class=" indet-0  text-[100px] " > {{count}} </h2> {% endcomment %}

    </div> 

</div>

