<div class="js-animated-title flex flex-col justify-end h-[30vh] pb-10">

    

    <div class=" flex p-4">

        <h2 class=" indet-0 text-[100px] ">{{title}}</h2>
        <h2 class=" indet-0  text-[100px] " > {{count}}</h2>

    </div>

</div>

