<div class="js-animated-title flex flex-col justify-end h-[40vh] ">



    <div class=" flex p-4 items-cwnter justify-center">

        <h2 class=" indet-0 text-[100px] ">{{title}}</h2>
        {% comment %} <h2 class=" indet-0  text-[100px] " > {{count}} </h2> {% endcomment %}

    </div>

</div>

