<div class="js-animated-title flex justify-center pt-[100px] ">



    <div class=" flex p-4 items-center justify-center border-2 border-dotted border-black aspect-square rounded-full w-[200px] h-auto ">

        <h2 class=" indet-0 text-[60px] ">{{title}}</h2>
        {% comment %} <h2 class=" indet-0  text-[100px] " > {{count}} </h2> {% endcomment %}

    </div>
    <div class=" flex p-4 items-center justify-center border-2 border-dotted border-black aspect-square rounded-full w-[200px] w-base ">

    <h2 class=" indet-0 text-[60px] ">{{count}}</h2>
    {% comment %} <h2 class=" indet-0  text-[100px] " > {{count}} </h2> {% endcomment %}

    </div>

</div>

