
            <div class='flex w-base h-fit    justify-center sticky bottom-4 align-middle rounded-base  overflow-hidden ml-auto mr-auto '  >
                <div class=' btnbg absolute  inset-0 opacity-70 ' style='background-color:{{ product.metafields.custom.acsent_color }}' >
            </div>   
                <button             
                   form="add-to-cart-form"
                   class=" bg-opacity-50  backdrop-blur-lg w-full  h-el "
                   type="submit"
                   name="add"
                   id="add-to-cart-button">
                   Add to cart 
               </button>
           </div>


    
         