
            <div class=' group flex w-[180px] h-[60px]  rounded-full  justify-center sticky bottom-4 align-middle border-2 border-black border-dotted  overflow-hidden ml-auto mr-auto '  >
                <div class='  btnbg   group-hover:bg-black    -z-20   absolute inset-0 opacity-80 w-[400px] ' style='background-color:{{ product.metafields.custom.acsent_color }}' >
            </div>   
                <button             
                   form="add-to-cart-form"
                   class=" bg-opacity-50 backdrop-blur-sm w-[400px] h-full "
                   type="submit"
                   name="add"
                   id="add-to-cart-button"> 
                   Add to cart 
               </button>
           </div>


    
          