<div class="absolute left-2 bottom-4 z-50  ">
    <a href="{{ link }}">
    
        <div class="bg-c1 p-1 pr-2 pl-2 backdrop-blur-lg border-2 border-dotted border-black  bg-opacity-50  ">
    
            <p> {{ text }} </p>
    
        </div>
    
    </a>
</div>