
  

  

      <div class=" flex ">


        <div class='w-full '>
          <div class='object-contain'>
            {{ section.settings.image_1 | img_url: '2048x' | img_tag }}
          </div>
        </div>

        <div class='w-full p-4'>

         <p> {{ section.settings.title }} </p>
        <p class='text-[16px] '> {{ section.settings.body }} </p>
        
      </div>

      </div>

   




{% schema %}

  {
    "name": "About Block",
    "settings": [
      {
        "type": "image_picker",
        "id": "image_1",
        "label": "Image"
      },
      {
        "type": "text",
        "id": "title",
        "label": "title"
      },
      {
        "type": "textarea",
        "id": "body",
        "label": "Text"
      }
    ],

    "presets": [
      {
        "name": " aboutBlock",
        "category": "Content"
      }
    ]
  }
{% endschema %}