<div class=" flex flex-col justify-center  items-center h-fit  gap-2 center p-2 overflow-hidden  ">

        <div class='bg-c1 bg-opacity-50  border-2 border-dotted asp border-black rounded-full  p-4  w-base aspect-square animate-spin transition-400  '>

                <div class=' p-10 ' >
                        <a href="/"> {{  shop.brand.logo | image_url: width: 400 | image_tag: class:'' }} </a>
                </div>

        </div>

</div>