<div class=" flex flex-col justify-center items-center  gap- center p-2  ">

        <div class='bg-c3 bg-opacity-50 justify-center items-center  p-4  w-[423.875px] rounded-lg text-stone-400 h-50 '>
                <h2 class=''> Hope World</h2>

                <div class='opacity-80 p-10 ' >
                        <a href="/"> {{  shop.brand.logo | image_url: width: 700 | image_tag }} </a>
                </div>

                <p> +44 000 0000 </p>
        
                <p> hello@hopeworld.com </p>

                <p> Instagram </p>
                </div>
</div>