<div class=" grid grid-cols-8 p-2 fixed bottom-0">

    <div>
        <p> Hope World</p>
       
     </div>

     <div class=''>
    
        <p> +44 000 0000 </p>
       
        <p> hello@hopeworld.com </p>

        <p> Instagram </p>

     </div>

</div>