<div class=" flex flex-col justify-center  items-center h-fit  gap-2 center p-2 overflow-hidden  ">

        <div class='bg-c1 bg-opacity-50  border-2 border-dotted  border-black rounded-full  p-4 sm:w-base w-full aspect-square  transition-400  '>

                <div class=' p-10  flex justify-center items-center w-full aspect-square  ' >
                        <a href="/"> {{  shop.brand.logo | image_url: width: 400 | image_tag: class:'animate-spin-slow' }} </a>
                </div>

        </div>

        <div class='bg-c1 bg-opacity-50  border-2 border-dotted  border-black   p-4  transition-400 sm:w-base w-full '>

                <div class="flex">
                        <p> Hope World </p>
                </div>

                <div class="flex gap-1">
                        <p> Instagram </p>
                        <p> Email </p>
                        <p> Phone </p>
                </div>

                <div class="flex gap-1">
                        <p> Hackney, London </p>
                
                </div>



        </div>


</div>