<div class='flex align-middle justify-center p-[10px] sticky z-50 w-full '> 

    <div class=' h-14 w-fit absolute left-2 top-2 ' >
        <a href="/"> {{  shop.brand.logo | image_url: width: 700 | image_tag }} </a>
    
    </div>


    <div class='flex w-fit h-fit p-2 bg-stone-50 bg-opacity-50 rounded-lg  backdrop-blur-lg'>

        {% for link in linklists.main-menu.links %} 
          <h2 class='  w-fit  h-fit  pt-[2px] pl-2 pr-2'><a href="{{ link.url }}">{{ link.title }}</a></h2>
        {% endfor %}

        <div class='flex justify-end w-fit h-fit cursor-pointer' id='cart-btn' >
          <h2 class='  w-fit  h-fit  pt-[2px] pl-2 pr-2'> Cart [ {{ cart.item_count }} ]</h2>
      </div>
       
    </div>

</div>

