

  <div class=" grid md:grid-cols-6 grid-cols-1 align-center top-1 left-1 right-1 overflow-hidden">

    <div class=' bg-stone-50 h-fit md:col-span-4 md:col-start-2 '>
          <div class=' h-full  overflow-visible relative  '>
          
                <div class=' bg-stone-50 overflow-visible h-fit w-full'>

                  {{ section.settings.image_1 | img_url: '2048x' | img_tag: class:'h-[130vh]'  }}

                  {% if section.settings.product_1  != ''  %}
                    {% render 'product-link' with {text: section.settings.img_text_1 , link: section.settings.product_1.url  %}
                    {% endif %}
              
          
                    </div>   
        


                </div>   
    </div>   
    
   
    </div>   
 


{% schema %}

  {
    "name": "Hero Image here",
    "settings": [
     
      
      {
        "type": "image_picker",
        "id": "image_1",
        "label": "Image One"
      },
      {
        "type": "product",
        "id": "product_1",
        "label": "Product"
      },
      {
        "type": "text",
        "id": "img_text_1",
        "label": "Image One Text"
      }
    
    ],

    "presets": [
      {
        "name": "Hero Image here ",
        "category": "Content"
      }
    ]
  }
{% endschema %}