
  

  

      <div class=" flex justify-center align-center top-1 h-screen left-1 right-1 overflow-hidden">

      <div class='p-48 object-fit'>
        {{ section.settings.image_1 | img_url: '2048x' | img_tag }}
        <p>
          1 / 12
          </p>
      </div>
      </div>

   




{% schema %}

  {
    "name": "Main Image",
    "settings": [
      {
        "type": "image_picker",
        "id": "image_1",
        "label": "Image One"
      },
      {
        "type": "text",
        "id": "img_text_1",
        "label": "Image One Text"
      }
    ],

    "presets": [
      {
        "name": " MainImage",
        "category": "Content"
      }
    ]
  }
{% endschema %}