




<div class="my-cart bg-stone-50 text-stone-900 backdrop-blur-lg h-full ">
  <div class='p-2  w-full flex justify-between 0'>

    <h2>Cart ({{ cart.item_count }})</h2>
    <h2> Total - {{ cart.total_price | money_with_currency }} </h2>
   </div>

 <div class="my-cart__items grid grid-cols-4 gap-2 p-2">
      <!-- Loop through cart items -->
      {% for line_item in cart.items %}
        
        {% render 'product-card'  with {product: line_item, index: forloop.index } %}
       
      {% endfor %}
      
    </div>
    
    {% form 'cart', cart, id: 'my-ajax-cart-form' %}
    <div class='p-2'>
      <button class='h-16 pl-10 pr-10 bg-red-500 w-fit' type="submit" name="checkout">
         Checkout — {{ cart.total_price | money_with_currency }}
      </button>  
      </div>
    {% endform %}


  </div>


  
  
  {% schema %} { "name": "My Ajax cart" } {% endschema %} 