<div class='grid grid-cols-4 pt-28 p-2'>
  {% for article in blog.articles %}
    <a href="{{ article.url }}">

    <div>
      <div class=''>
      {{ article.image | image_url: width: 700 | image_tag }}
      </div>
      <p>{{ article.title }}</p>
    </div>
  </a>
  {% endfor %}
</div>
