<div class="pt-4 flex items-center justify-center ">
    <div class="w-1/2">
        <h2>{{ article.title }}</h2>
        <p>{{ article.published_at | date: '%d %B %Y' }}</p>
        {{ article.content }}
    </div>
</div>
