<div class=' p-2'>
    
    {% if collection.all_products_count > 0 %}

        
     {% render 'shop-filters' %}

     {% comment %} <div class="h-[50vh] flex ali">

     <h1> {{ collection.title }}</h1>

     </div> {% endcomment %}

     {% render 'animated-title' with { title: collection.title , count: "6" } %}

    <div class='grid  md:grid-cols-3 sm:grid-cols-2  grid-cols-1  gap-2 pt-4 pb-2    '>  
   
        {% for product in collection.products %}
             {% render 'product-card'  with {product: product, index: forloop.index } %}
        {% endfor %}

    </div>

{% else %}
    {% render 'shop-filters' %}
    <div class='flex align-center bg-stone-50 h-8 justify-center pt-20 pb-20  '>  
        <p> Nothing to see here yet </p>
    </div>
{% endif %}
</div>