<div class='grid grid-cols-2  p-2'>
  {% for article in blog.articles %}
    <a href="{{ article.url }}">

    <div>
      <div class=''>
      {{ article.image | image_url: width: 700 | image_tag }}
      </div>
      <h2>{{ article.title }}</h2>
       <p>{{ article.published_at | date: '%d %B %Y' }}</p>
    </div>
  </a>
  {% endfor %}
</div>
