
  

  

      <div class=" ">

        <div class="w-full bg-red-500 h-[80vh]">

          <div class=' bg-stone-50 overflow-visible w-64 '>
            {{ section.settings.image_1 | img_url: '2048x' | img_tag: class="w-64"}}
            </div>
   
        </div> 

          <div class="p-2">
            <h1 class=''> {{ section.settings.body }} </h1>
          </div>
          
     </div>

   
{% schema %}

  {
    "name": "Open_Statement_Image",
    "settings": [
      {
        "type": "image_picker",
        "id": "image_1",
        "label": "Image One"
      },
      {
        "type": "textarea",
        "id": "body",
        "label": "Text"         
      }
    ],

    "presets": [
      {
        "name": "Open_Statement_Image",
        "category": "Content"
      }
    ]
  }
{% endschema %}