
<div class="">
    {% for block in section.blocks %}
      {% case block.type %}
      {% when 'slide' %}
        <div class=" sticky top-0 h-screen " {{ block.shopify_attributes }}>
          {{ block.settings.image | image_url: width: 2048 | image_tag }}
          
          
          <div class="h-full w-full flex flex-col  items-center justify-end absolute top-0 pb-4 ">


          
            <div class=" sticky bottom-4 sm:w-base w-full p-4 bg-c1 border-2 border-dotted border-black   bg-opacity-50 rounded-base  backdrop-blur-lg  ">
              <div class="flex justify-between">
                <h2 class=" indent-0"> Hope X Client Name </h2>
                <h2 class=" indent-0"> {{ forloop.index }} / {{forloop.length}}</h2>
              </div>
              <p> Lorem ipsum dolor, sit amet consectetur adipisicing elit. Iste et eum quas, cupiditate ex magni exercitationem molestias porro aspernatur vitae nam ut suscipit, ipsa commodi itaque non minus. At, maxime!</p>
              <p> learn more </p>
            </div>
          </div>

        </div>

      
    {% endcase %}
    {% endfor %}

</div>
   
  



{% schema %}
{
  "name": "Slideshow and text ",
  "tag": "section",
  "class": "slideshow",
  "limit": 1,
  "settings": [
    {
      "type": "text",
      "id": "title",
      "label": "Title"
    },
    {
      "type": "text",
      "id": "body",
      "label": "Body"
    }
  ],
  "max_blocks": 5,
  "blocks": [
     {
       "name": "Slide",
       "type": "slide",
       "settings": [
         {
           "type": "image_picker",
           "id": "image",
           "label": "Image"
         }
       ]
     }
  ],
  "presets": [
    {
      "name": "Slideshow and text ",
      "settings": {
        "title": "Slideshow and Text"
      },
      "blocks": [
        {
          "type": "slide"
        },
        {
          "type": "slide"
        }
      ]
    }
  ]
}
{% endschema %}

