
  

  

<div class="   grid md:grid-cols-2 grid-cols-1 align-center top-1 left-1 right-1 overflow-hidden">

      <div class=' overflow-visible relative  '>
        <div class="  flex items-center justify-center h-full">
          <div class=" relative h-fit w-fit">
            <div class=' bg-stone-50 overflow-visible w-80 rotate-3 '>
              {{ section.settings.image_1 | img_url: '2048x' | img_tag }}
              </div>
              {% if section.settings.product_1  != ''  %}
                {% render 'product-link' with {text: section.settings.img_text_1 , link: section.settings.product_1.url  %}
                {% endif %}
          </div>
        </div>
      </div>   

      <div class=' bg-stone-50 h-full  '>
          <div class="h-full relative  border-2  ">
            <div class=' bg-stone-50 h-full '>
            {{ section.settings.image_2 | img_url: '2048x' | img_tag }}
            </div>

            {% if section.settings.product_2 != '' %}
            {% render 'product-link' with {text: section.settings.img_text_2 , link: section.settings.product_2.url  %}
            {% endif %}
          </div>
      </div> 


</div>   

   

 


{% schema %}

  {
    "name": "Two Images",
    "settings": [
      {
        "type": "image_picker",
        "id": "image_1",
        "label": "Image One"
      },
      {
        "type": "product",
        "id": "product_1",
        "label": "Product"
      },
      {
        "type": "text",
        "id": "img_text_1",
        "label": "Image One Text"
      },
      {
        "type": "image_picker",
        "id": "image_2",
        "label": "Image Two"
      },
      {
        "type": "product",
        "id": "product_2",
        "label": "Product"
      },
      {
        "type": "text",
        "id": "img_text_2",
        "label": "Image Two Text"
      }
    ],

    "presets": [
      {
        "name": "Two Images ",
        "category": "Content"
      }
    ]
  }
{% endschema %}